.main {
  overflow-y: auto;
  height: 77.4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* CARD */
.card_container {
  position: relative;
  width: 100%;
  font-size: 0.85rem;
}

.card {
  cursor: pointer;
  border: white 2px solid;
  border-radius: 0;
}

.card_body {
  display: none;
}

.card_container:hover .card_body {
  display: block;
  height: 100%;
}

.card_container:hover .card_img {
  display: none;
}

.card_container:hover .card {
  height: 100%;
}
