.main {
  overflow-y: auto;
  height: 77.4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* CARD */
.card_container {
  position: relative;
}

.card {
  cursor: pointer;
}

.card_body {
  font-size: 0.9rem;
  display: none;
  color: white;
  background-color: black;
}

.card_container:hover .card_body {
  display: block;
}

.card_container:hover .card_img {
  display: none;
}
